.task_list{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: #9A309A;
    list-style-type: none;
    /* overflow-x: hidden; */
}