.search_container{
    position: relative;
}

.Todocounter {
    width: fit-content;
    margin: 0 auto 20px;
    border-radius: 5px;
    font-size: 24px;
    color: #FFDEFC;
    background-color: #9A309A;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}