.search_container{
    position: relative;
    margin: 20px 0;
}

.ipt_search{
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px 50px 5px 5px;
}

.search_button{
    display: none;
    position: absolute;
    width: 50px;
    right: 0px;
    top: 0px;
    height: 32px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #FFDEFC;
    background-color: #511F52;
    font-weight: 500;
}

.search_button:hover{
    background-color: #FFDEFC;
    color: #511f52;
}

.animation{
    animation-name: horiSlide;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

@keyframes horiSlide {
    0%{right: 0;
        background-color: #FFDEFC;
        color: #511f52;}
    50%{right: calc(100% - 50px);
        background-color: #FFDEFC;
    color: #511f52;}
    100%{right: 0;}
}

